body {
    font-family: 'Bree serif', serif;
}

main {
    margin: auto;
    max-width: 700px;
    background-color: rgb(255, 227, 185);
    font-size: 20px;
    
    border-radius: 10px;
    padding: 20px;
}

h1 {
    text-align: center;
}

input {
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    padding: 3px;
}

select {
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    padding: 3px;
}

.rowTab {
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
}

.label {
    display: inline-block;
    font-size: 15px;
    text-align: right;
    width: 49%;
    padding-right: 5px;
}

.inputField {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.radio-opt{
    display: block;
    font-size: 15px;
}