body {
    font-family: 'Bree serif', sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
}

p {
    margin: 0px;
}

label {
    margin: 0px;
    font-size: 1.5em;
}

input {
    margin: 0px;
    height: 30px;
}

#name, #email, #number {
    min-width: 200px;
}


.row {
    margin: 10px 0 10px 0;
    display: flex;
    flex-wrap: nowrap;
}

.row-left {
    padding: 10px;
    width: 50%;
    text-align: right;
    align-self: center;
}

.row-right {
    padding: 10px;
    width: 50%;
    text-align: left;
    align-self: center;
}

#survey-form {
    padding: 20px;
    background-color: rgb(134, 134, 255);
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
}

.radio-opt, .chk-opt {
    display: block;
}

.radio-btn, .chk-btn {
    vertical-align: middle;
    margin-right: 5px;
}

#description {
    text-align: center;
    font-size: 30px;
}

#submit {
    display: block;
    margin: auto;
}

